{
  "extends": "eslint:recommended",
  "plugins": ["angular"],
  "env": {
    "browser": true,
    "jasmine": true
  },
  "globals": {
    "angular": true,
    "module": true,
    "inject": true,
    "XLSX": true,
    "p5": true,
    "$": true,
    "moment": true
  },
  "rules":{
    "no-mixed-spaces-and-tabs": 1,
    "no-unused-vars": 1,
    "no-cond-assign": 0,
    "no-constant-condition": 0,
    "comma-dangle": 0,
    "no-undef": 1,
    "angular/controller-name": 0,
    "angular/typecheck-array": 0,
  }
}
