{
  "extends": "eslint:recommended",
  "plugins": ["angular"],
  "env": {
    "browser": true,
    "jasmine": true
  },
  "globals": {
    "angular": true,
    "module": true,
    "inject": true,
    "XLSX": true,
    "p5": true,
    "$": true,
    "moment": true
  },
  "rules":{
    "no-unused-vars": 1
  }
}
