
  <h1>
    <img style=" position: fixed; top: 0px; right: 0px; z-index: -1; width: 75%; height: 75%" src="/assets/images/logo.png">

    <!-- border -->
<!-- 		<hr style="border: 3px outset #595955; border-top-color: #c60006; border-bottom-color: #d10006">
 -->		
    <!-- Awkward Annie Text -->
<!-- 		<div style="text-align: center; font-size: 80px; font-family: marker-felt; color: #f50007; text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;">Awkward Annie</div>
 -->    
    <!-- border -->
<!--     <hr style="border: 3px outset #595955; border-top-color: #c60006; border-bottom-color: #d10006">
 -->


		<br><br>

    <br><br>

    
    <div style="font-size: 40px; font-family: marker-felt; padding-left: 30px; text-decoration: underline; color: #9e3434"> Current Builds</div>

    <br><br>

    <a href = "#" style="font-size: 20px; font-family: marker-felt; padding-left: 50px">Main Game (Pre-Alpha)</a>

    <br><br>


    <a href = "#/dialogTestBed" style="font-size: 20px; font-family: marker-felt; padding-left: 50px">Dialogue Testbed</a>

    <br><br>
    <br><br>

    <div style="font-size: 40px; font-family: marker-felt; padding-left: 30px; text-decoration: underline; color: #9e3434"> Archived Builds</div>

    <br><br>

    <a style="font-size: 20px; font-family: marker-felt; padding-left: 50px">[No Archived Builds]</a>


	</h1>