
.trim {
	border: 3px outset #595955; 
	border-top-color: #c60006; 
	border-bottom-color: #d10006;
}

.enlarged-breakRoom {
  top: 285px;
  right: 177px;
  background-image:url('/assets/images/rooms/Map-Images/break-room-LayeredFurniture.png');
  background-size: 100% 100%;
}