<div class="playerChoices">
  <div ng-if="vm.choiceDelay && !vm.showContinue">
    <div class="choices" ng-repeat="choice in vm.currentNodeChoices"><!--choices like the options in rjtest -->
      <input class="btn" type="button" name="{{choice.code}}" value="{{choice.node.pcText?choice.node.pcText:'Missing text'}}" ng-click="vm.showNode(choice.choice)">
      <br><br>
    </div>
  </div>
  <br/>
  <p ng-if="vm.choiceDelay &&!vm.showContinue">Please select an option above for what you want Annie to say.</p><!--of length of options = 0 show countue in rjtets -->

  <div class="blue-continue" ng-click="vm.clickContinue()" ng-if="vm.showContinue && vm.choiceDelay"></div>
</div>

<div class="pc-bubble">
  <p id="pcBubbleText"> {{vm.curNode.pcText}}</p>
</div>
<div class="npc-bubble" ng-if="vm.curNode.npcText">
  <p id="npcBubbleText">{{vm.curNode.npcText}}</p>
</div>
