<!-- dialog Choices -->
<div class="playerChoices">
	<div ng-if="!vm.node1Hidden">
		<div class="choices" ng-repeat="choice in vm.choice">
			<input class="btn" type="button" name="{{choice.code}}" value="{{choice.PC_Text?choice.PC_Text:'Missing text'}}" ng-click="vm.showNode2(choice)">
			<br><br>
		</div>
	</div>

	<div ng-if="!vm.node2Hidden && vm.choiceDelay">
		<div class="choices" ng-repeat="choice2 in vm.choice2">
			<input class="btn" type="button" name="{{choice2.code}}" value="{{choice2.PC_Text?choice2.PC_Text:'Missing text'}}" ng-click="vm.showNode3(choice2)">
			<br><br>
		</div>
	</div>

	<div ng-if="!vm.node3Hidden && vm.choiceDelay" >
		<div class="choices" ng-repeat="choice3 in vm.choice3">
			<input class="btn" type="button" name="{{choice3.code}}" value="{{choice3.PC_Text?choice3.PC_Text:'Missing text'}}" ng-click="vm.showNode3Response(choice3)">
			<br><br>
		</div>
	</div>
	<br/>
	<p ng-if="vm.choiceDelay &&!vm.showContinue">Please select an option above for what you want Annie to say.</p>

	<div class="blue-continue" ng-click="vm.clickContinue()" ng-if="vm.showContinue && vm.choiceDelay"></div>
	<!-- Timers 
	<br>
	Pc to NPC <input type="text" value="" name="pc-npc-delay" ng-model="pcNpcTimerValue" >
	<br>
	NPC-visual text <input type="text" value="" name="npc-vt-delay" ng-model="npcVtTimerValue"">
	<br>
	<button type="button" ng-click='vm.setTimers(pcNpcTimerValue,npcVtTimerValue)'>Update</button>-->
</div>

<div class="pc-bubble">
<!-- Annie's bubble -->
	<p id="pcBubbleText"> {{vm.chosenAnnie}}</p>
</div>
<div class="npc-bubble" ng-if="vm.npcResponse">
	<p id="npcBubbleText">{{vm.npcResponse}}</p>
</div>
