
<div class="gameContainer" ng-if="dialogTest.hasLoaded"> 
	<nav-bar player-score="main.playerScore" level-count="main.levelCount"></nav-bar>
	<div class="main-pane">



		<div class = "conversationContainer"> 

			<display-dialouge main = "dialogTest" is-test-bed = "true"> </display-dialouge>


			 
			<div style = "width: 600px; background: blue;"> </div>
			<pop-up-dialogue-manager ng-if="dialogTest.displayCharacters"
			main="dialogTest"></pop-up-dialogue-manager>


		</div>


		

	</div>
</div>


<div style = "position: relative; text-align: center; top: 10px"> {{ dialogTest.branchHistory.join(" | ") }} </div>

<select ng-options="item for item in dialogTest.dialogList" ng-model = "dialogTest.currentConversation"> </select>

<div>
    <input type="file" load-xlsx-file="dialogTest.loadFromFile(fileObject)"/>
	<div> <span style="font-weight: bold;"> Currently Viewed Content: </span> {{ dialogTest.currentSource }}</div>

</div>

<button ng-click= "dialogTest.loadFromFile(dialogTest.lastFileObject)" ng-if="dialogTest.lastFileObject"> Reload File </button>

