
.enlarged-map-title {
  text-align: center;
  font-family: marker-felt;
  font-size: 28px;
  padding: 13px;
}

game-map {
  display: block;
  position: relative;
  height: 0px;
  width: 950px;
}

game-map .game-map-room{
	width: 22px;
	text-align: center;
	height: 17px;
	border: 2px solid black;
}

.game-room {
	position: absolute;
	width: 110px;
  height: 90px;
}

.map-background{

  position: absolute;
  border-top: 5px solid #607c92;
  border-left: 5px solid #607c92;

  width: 110px;
  height: 95px;
  top: -103px;
  right: 0px;
  background: #8abee5;
}


.lobby {
  top: 36px;
  right: 42px;
}
.conferenceRoom {
  top: 7px;
  right: 22px;
}
.anniesOffice {
  top: 36px;
  right: 7px;
}
.mikesOffice {
  top: 7px;
  right: 61px;
}
.fransOffice {
  top: 36px;
  right: 76px;
}
.breakRoom {
  top: 65px;
  right: 42px;
}

.vertical-line {
  height: 30px;
  border-left: 3px solid green;
  position: absolute;
  top: 46.5%;
  left: 53%;
}


.conversation-room{
  background: green;
}

.current-room{
  background-color: #ae372a;
  border: 3px solid #3e5380;
}


.horizontal-line {
  width: 100px;
  border-top: 3px solid green;
  position: absolute;
  top: 100px;
  left: 300px;
}



game-map .enlarged-game-map-room{
  width: 140px;
  text-align: center;
  height: 90px;
  border: 3px solid black;
}
.enlarged-game-room {
  position: absolute;
  width: 110px;
  height: 90px;
}
.enlarged-map-background{

  box-shadow: -8px -8px 20px #4e4e4e;


  position: absolute;
  border-top: 5px solid #607c92;
  border-left: 5px solid #607c92;

  width: 505px;
  height: 392px;
  top: -302px;
  right: 0px;
  background: #8abee5;
}

.enlarged-lobby {
  top: 172px;
  right: 177px;
  background-image:url('/assets/images/rooms/Map-Images/Lobby-LayeredFurniture.png');
  background-size: 100% 100%;
}  
.enlarged-conferenceRoom {
  top: 60px;
  right: 94px;
  background-image:url('/assets/images/rooms/Map-Images/Conference-room-LayeredFurtiture.png');
  background-size: 100% 100%;
}
.enlarged-anniesOffice {
  top: 172px;
  right: 14px;
  background-image:url('/assets/images/rooms/Map-Images/Annie-Room-layeredfurtiture.png');
  background-size: 100% 100%;
}
.enlarged-mikesOffice {
  top: 60px;
  right: 259px;
  background-image:url('/assets/images/rooms/Map-Images/Mike-Room-LayeredFurniture-Revised.png');
  background-size: 100% 100%;
}
.enlarged-fransOffice {
  top: 172px;
  right: 343px;
  background-image:url('/assets/images/rooms/Map-Images/Fran-Room-LayeredFurniture.png');
  background-size: 100% 100%;
}
.enlarged-breakRoom {
  top: 285px;
  right: 177px;
  background-image:url('/assets/images/rooms/Map-Images/break-room-LayeredFurniture.png');
  background-size: 100% 100%;
}

.enlarged-game-room.conversation-room img{
  display: initial;
}

.enlarged-game-room img{
  position: absolute;
  display: none; 
  top: 5px;
  right: 15px;
  height: 90%;
  width: 80%;
}

.enlarged-x-button {
  width: 10px;
  height: 10px;
  border: 2px solid black;
}

.enlarged-current-room-overlay{
  background-color: #ae372a;
  opacity: 0.6;
  width: 100%;
  height: 100%;
}

.background-dimmer{
  position: absolute;
  background-color: #000000;
  top: -503px;

  opacity: 0.4;
  width: 950px;
  height: 501px;
}


