game-map {
  display: block;
  position: relative;
  height: 0px;
  width: 950px;

}

game-map .game-map-room{
	width: 30px;
	text-align: center;
	height: 25px;
	border: 2px solid black;
}

.game-room {
	position: absolute;
	width: 110px;
  height: 90px;
}

.map-background{
  position: absolute;
  border: 3px solid black;
  width: 130px;
  height: 122px;
  top: -131px;
  right: 0px;
  background: #8abee5;

}


.lobby {
  top: -80px;
  right: 50px;
}
.conferenceRoom {
  top: -120px;
  right: 25px;
}
.anniesOffice {
  top: -80px;
  right: 5px;
}
.mikesOffice {
  top: -120px;
  right: 75px;
}
.fransOffice {
  top: -80px;
  right: 95px;
}
.breakRoom {
  top: -40px;
  right: 50px;
}

.vertical-line {
  height: 30px;
  border-left: 3px solid green;
  position: absolute;
  top: 46.5%;
  left: 53%;
}

.game-room img{
  position: relative;
  display: none; 
  top: 3px;
  height: 70%;
  width: 70%;
}

.conversation-room{
  background: green;
}

.game-room.conversation-room img{
  display: initial;
}

.current-room{
  background: blue;
  border: 3px solid #3e5380;
}


.horizontal-line {
  width: 100px;
  border-top: 3px solid green;
  position: absolute;
  top: 100px;
  left: 300px;
}

