<div class="map-background"></div>


<div ng-repeat = "roomKey in gameMap.roomKeys"
	ng-class = "{'conversation-room': gameMap.roomHasConversation(roomKey), 

	'current-room': main.roomKey === roomKey,

	'lobby': roomKey === 'lobby',
	'conferenceRoom': roomKey === 'conferenceRoom',
	'anniesOffice': roomKey === 'anniesOffice',
	'mikesOffice': roomKey === 'mikesOffice',
	'fransOffice': roomKey === 'fransOffice',
	'breakRoom': roomKey === 'breakRoom'}"
	
	class = "game-map-room game-room">

	<!-- say the name of the room
	<div> {{ roomKey }} </div>
	-->
	<img src= "assets/images/UI/speechIcon.png">

<!-- True or False Text 
	<div> {{ gameMap.roomConversations[roomKey]}} </div>
-->

</div>






<!--
<div class = "vertical-line"> </div>

-->

<!-- click me button 
	<button ng-click = "show = !show"> click me </button>
-->


