<div ng-if = "show" class = "background-dimmer"></div>


<div ng-click = "show = !show" class="map-background">

	<div ng-repeat = "roomKey in gameMap.roomKeys"
		ng-class = "{ 

		'current-room': main.roomKey === roomKey,

		'lobby': roomKey === 'lobby',
		'conferenceRoom': roomKey === 'conferenceRoom',
		'anniesOffice': roomKey === 'anniesOffice',
		'mikesOffice': roomKey === 'mikesOffice',
		'fransOffice': roomKey === 'fransOffice',
		'breakRoom': roomKey === 'breakRoom'}"
		
		class = "game-map-room game-room">

		<!-- say the name of the room
		<div> {{ roomKey }} </div>
		-->
		

		<!-- display chat bubble icon in minimap
		<img src= "assets/images/UI/speechIcon.png">
		-->

	<!-- True or False Text 
		<div> {{ gameMap.roomConversations[roomKey]}} </div>
	-->

	</div>

		<div ng-if = "show" class = "enlarged-map-background"> <div class = "enlarged-map-title">Office Map</div>


			<div ng-repeat = "roomKey in gameMap.roomKeys"
				ng-if = "show"

				ng-class = "{ 
				'conversation-room': gameMap.roomHasConversation(roomKey), 
				'enlarged-conversation-room-overlay': main.roomKey === roomKey,

				'enlarged-lobby': roomKey === 'lobby',
				'enlarged-conferenceRoom': roomKey === 'conferenceRoom',
				'enlarged-anniesOffice': roomKey === 'anniesOffice',
				'enlarged-mikesOffice': roomKey === 'mikesOffice',
				'enlarged-fransOffice': roomKey === 'fransOffice',
				'enlarged-breakRoom': roomKey === 'breakRoom'}"
						
				class = "enlarged-game-map-room enlarged-game-room">

				<div ng-class = "{'enlarged-current-room-overlay': main.roomKey === roomKey}"></div>
				<img src= "assets/images/UI/speechIcon.png">

			</div>

		</div>

</div>












<!-- place this inside ng-class to have it change background color when convo is in room 
	'conversation-room': gameMap.roomHasConversation(roomKey), 
-->



<!--
<div class = "vertical-line"> </div>

-->

<!-- show enlarged map -->









