<div class="tutorial-holder">
	<div class="button-holder">
		<div class="playerChoices">
			<div class="tutorial-btn" ng-repeat="pcOption in tut.curState.pcOptions" ng-click="tut.gotoState(pcOption)">{{pcOption.text}}</div>
			<div class="tutorial-btn" ng-if="tut.curStateName=='end'" ng-click="vm.next()">Thanks</div>
			<div class="instruction-text">Please select an option above for what you want Annie to say.</div>

		</div>
	</div>
		<div class="text-holder">
			<div class="contact-window">
				<div class="contact-name">Fran</div>
			</div>
			<div class="text-simulator">
				<div class="text-pair">
					<div ng-repeat="row in tut.textRows">
						<div class="npc-row">{{row.npcText}}</div>
						<div class="pc-row">{{row.pcText}}</div>
					</div>
					<div class="state-row">
						<div class="npc-row">{{tut.curState.npcText}}</div>
					</div>
				</div>
			</div>
		</div>
</div>