<!-- Called awkwardAnnieGame.html -->
<div class="gameContainer" ng-class="{'chas-flipped': dialogOptions.flipDialogs}">
  <nav-bar></nav-bar>
  <div class="main-pane" click-sound>

    <game-manager main="main"></game-manager>

    <game-map name="{{ 'level_'+ main.levelCount }}"> {{ gameMap.levels }} </game-map>

    <div ng-if="!dialogOptions.hideDialog" class="conversationContainer"> 
      <display-dialog main="main"></display-dialog>
      <pop-up-dialog-manager main="main"></pop-up-dialog-manager>
    </div>
  </div>
</div>
