
<div class="testbed-header">
	<div class="tb-row1">
		<div><b>Viewing Content from: </b>{{ dialogTest.currentSource }}</div>
	    <div class="select-source">
	    	<div class="util-button" ng-click= "dialogTest.loadFromFile(dialogTest.lastFileObject)"
	    		ng-if="dialogTest.lastFileObject">Reload xlsx file</div>
	    	<input class="input-file" name="input-file" id="input-file" type="file" load-xlsx-file="dialogTest.loadFromFile(fileObject)"/>
	    	<label for="input-file">Choose local xlsx file...</label>
	    </div>
	</div>

	<div ng-if="!dialogTest.hasLoaded">
		Loading...
	</div>

	<div ng-if="dialogTest.hasLoaded">
		<div>
			View animations and scoring for :
			<label>
                <input type="radio" name="gameType" value="negative" ng-model="dialogTest.localGameType">
                Negative
            </label>
			<label>
                <input type="radio" name="gameType" value="positive" ng-model="dialogTest.localGameType">
                Positive
            </label>
		</div>
		<select ng-options="item.key as item.label for item in dialogTest.dialogList"
				<!-- ng-model = "dialogTest.currentConversation"> -->
		</select>

		<select ng-options=" item for item in dialogTest.charSelections"
				ng-model = "dialogTest.talkingWith">
		</select>


		<div class="flip-input">
			<input type="checkbox" ng-model="dialogTest.flipDialog" id="flipDialog">
			<label for="flipDialog">Flip dialog</label>
		</div>

		<div class="animation-indicator" ng-class="{'invalid-animation': !dialogTest.animationValid, 'chas-flipped': dialogTest.flipDialog}">
			NPC animation: {{(!dialogTest.animationValid?
					'No emotion "' + dialogTest.currentChoiceInfo.animation+ '" for '+dialogTest.talkingWith
					: (!dialogTest.curNode.animation ? 'None' : dialogTest.currentChoiceInfo.animation))}}&nbsp;
		</div>


		<div>Currently at node {{dialogTest.curNode.code ? dialogTest.curNode.code : 'root'}}</div>
		<div>PC options : {{dialogTest.pcOptions}}</span></div>

		<div ng-if="dialogTest.curNode.isTerminal()">
			Done; Outcome:
			<span ng-if="dialogTest.curNode.success" style="color: green"><b>Success</b></span>
			<span ng-if="!dialogTest.curNode.success" style="color: red"><b>Failure</b></span>
			<div>Score: {{dialogTest.curNode.score}}</div>
		</div>
		<div ng-if="!dialogTest.curNode.isTerminal()">
			<br/><br/>
		</div>

	</div>

</div>

<div class="gameContainer" ng-class="{'chas-flipped': dialogTest.flipDialog}" ng-if="dialogTest.hasLoaded">

	<nav-bar></nav-bar>
	<div class="main-pane">

		<div class="conversationContainer testbed-cc">

			<display-dialog main="dialogTest" is-test-bed="true"></display-dialog>

			<pop-up-dialog-manager
				ng-if="dialogTest.displayCharacters"
				main="dialogTest"
				>
			</pop-up-dialog-manager>


		</div>

	</div>

</div>
