
<div class="testbed-header">


		<div class="flip-input">
			<input type="checkbox" ng-model="dialogTest.flipDialog" id="flipDialog">
			<label for="flipDialog">Flip dialog</label>
		</div>
<!--fix this one below -->
		<div class="animation-indicator" ng-class="{'invalid-animation': !dialogTest.animationValid, 'chas-flipped': dialogTest.flipDialog}">
			{{(!dialogTest.animationValid ?
					'No emotion "' + dialogTest.currentChoiceInfo.animation+ '" for '+dialogTest.talkingWith
					: dialogTest.currentChoiceInfo.animation)}}&nbsp;
		</div>

		<div style="font-size:12px;">



		</div>
		</br>


		</div>
	</div>

</div>

<div class="gameContainer" ng-class="{'chas-flipped': dialogTest.flipDialog}" >

	<nav-bar></nav-bar>
	<div class="main-pane">

		<div class="conversationContainer testbed-cc">

			<display-dialog main = "dialogTest" is-test-bed = "true"> </display-dialog>

			<pop-up-dialog-manager
				ng-if="dialogTest.displayCharacters"
				main="dialogTest"
				>
			</pop-up-dialog-manager>


		</div>

	</div>

</div>
